# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Virtual Environment

# =========================

.venv/
venv/
env/

# =========================

# Environment Variables

# =========================

.env
.env.*

# =========================

# Database

# =========================

*.db
*.sqlite
*.sqlite3

# =========================

# IDE / Editors

# =========================

.vscode/
.idea/

# =========================

# Operating System

# =========================

.DS_Store
Thumbs.db

# =========================

# Logs

# =========================

*.log

# =========================

# Build Files

# =========================

dist/
build/
*.egg-info/

# =========================

# PyInstaller

# =========================

*.spec

# =========================

# Firebase

# =========================

firebase-service-account.json

# =========================

# Testing

# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================

# Render

# =========================

render.yaml.local
